.pre-scrollable {
  max-height: 100%;
  overflow-y: scroll;
}

pre[class*="language-"] {
  max-height: calc(100% - 1em);
  overflow: auto;
  margin: 0.5em 0;
}

.dropdown-menu a.dropdown-item {
  cursor: pointer;
}

.mw-25 {
  max-width: 25% !important;
}

.tooltip-inner {
  max-width: 500px;
}

.code-toolbar {
  width: 100%;
}
